@model OdeToFood.ViewModels.HomePageViewModel

@{ 
    ViewBag.Title = "Home";
}

<h1>Welcome</h1>

<section class="panel panel-default">
    <table>
        @foreach (var restaraunt in Model.Restaurants)
        {
            <tr>
                <td class="panel-heading">@restaraunt.Name</td>
                <td class="panel=body">
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@restaraunt.Id">Details</a>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@restaraunt.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</section>

    <a class="btn btn-default" asp-controller="Home" asp-action="Create">Create</a>
